Healthcare Financial Management Association
Healthcare Information and Management Systems Society
Healthcare Leadership Alliance
Home Economics Archive: Tradition, Research, History (HEARTH)
An e-book collection of over 1,000 books spanning 1850 to 1950, created by Cornell University's Mann Library. Includes several hundred works on hospital administration—particularly hospital nutrition—in this period, itemized in a specific bibliography.
Organisation for Economic Co-operation and Development - Reviews of health systems
World Health Organization - 'Making Health Systems Work' series